aiohttp>=3.8.0
pydantic>=2.0.0
python-dotenv>=1.0.0
loguru>=0.7.0

# DB : ORM (SQLAlchemy) + alembic(migrations)
SQLAlchemy[asyncio] 
asyncpg 
alembic
psycopg2-binary

# RabbitMQ
aio-pika==9.3.0
aiogram==3.3.0
SQLAlchemy==2.0.23
alembic==1.13.0
asyncpg==0.29.0
psycopg2-binary==2.9.9
python-dotenv==1.0.0
prometheus-client==0.19.0



