# Core
aiogram
aiohttp
python-dotenv
pydantic

# DB
SQLAlchemy
asyncpg
alembic
psycopg2-binary

# Message Queue
aio-pika
pika

# Monitoring
prometheus-client

# Development
pytest
pytest-asyncio
pytest-cov
pytest-mock
pytest-env
black
isort
mypy
flake8
pre-commit

# Parsing
requests==2.31.0
beautifulsoup4==4.12.2


